<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 

    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- select2 -->

    <%= stylesheet_link_tag "style", media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Borsche</title>
    <style>
    	body, .btn, .btnFind, .more, .rect1, .rect5, .fixedbut{
            	font-family: 'Lato light', sans-serif;
    	}
    </style>

  </head>
  
  <body class="body">
    <div class="rect1" style="text-align: center;">
      Borsche
    </div> 
    <div class="rect2">
      <button class="btnFind">Новый поиск</button>
      <button class="btnFind btn_selected">Результаты поиска</button>
    </div>
    <br>
    <div class="rect3">
      <p>По Вашему запросу найдено: <%= @Car.count %> автомобиля (ей) .</p>
    </div>
    <div class="rect4">
      <button name="btn3" class="btn" onclick="smena(1);">
        Модель
      </button>
      <button name="btn4" class="btn" onclick="smena(2);">
        Цена и состояние
      </button>
      <button name="btn5" class="btn" onclick="smena(3);">
        Двигатель
      </button>
      <button name="btn6" class="btn" onclick="smena(4);">
        Цвет
      </button>
      <button name="btn7" class="btn" onclick="smena(5);">
        Комплектация
      </button>
      <button name="btn8" class="btn" onclick="smena(6);">
        Место расположения
      </button>
    </div>
    <div id="osn" class="fix">
      <div class="rect5">
        <div style="width: 50%;" class="rect8">
          <p style="float: left;"><%= @Car.count %> Borshe в наличии</p>
          <p style="float: right; padding-right: 4%;"><i class="fas fa-list-ul"></i> Посмотреть список</p>
        </div>
        <div class="rect9">
          <p style="float: left; padding-left: 5%;"><i class="fas fa-map-marked-alt"></i> Вид карты</p>
          <p style="float: right;">Цена <i class="fas fa-arrow-circle-up"></i></p>
        </div>
      </div>
      <% @Car.each do |c| %>
        <div class="rect6">
          <div class="auto">
            <img width="80%" src="<%= c.car_model.photo %>">
          </div>
          <div class="info">
            <div class="autoname"><%= c.title %></div>
            <% if c.type_id == 1 %>
              <div class="newauto">
                Новый автомобиль
              </div>
            <% end %>
            <div class="place"><%= c.city_and_center.center %></div>
            <div class="power">
              <%= c.power %> kW / <%= c.power_horse_strength %> Л.С.
            </div>
            <% if c.type_id != 1%>
              <div class="date power"> <%= c.kilometers %> km</div>
              <div class="date power"> <%= c.date_first_registration %> </div>
            <% end %>
            <div class="date"> <%= c.car_model.model_year %>
            </div>
            <div class="gearbox"><%= c.car_model.gear_box.gearbox_type %>, <%= c.car_model.fuel.fuel_type %></div>
            <button class="more"><i class="fas fa-angle-right"></i> Данные автомобиля</button>
            <div class="cost">
              <%= c.price %> <i class="fas fa-ruble-sign"></i>
            </div>
            <% if c.type_id == 1 %>
              <div class="who">
                Продажа от юр. лица (счет с НДС)          
              </div>
            <% end %>
            <% if c.type_id == 2 %>
              <div class="who">
                Borsche Approved         
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="model" class="fix model">
      <div class="rect10">
        <div class="hider1" id="rotate1">
            Модели 
            <i id="icon1" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden1">
          <br>
          <div class="vivod">
            <% @CarModel.each do |cm| %>
              <div class="inblock" style="width: 20%;">
                <input type="checkbox" id="id_cm_<%= cm.id %>" />
                <label for="id_cm_<%= cm.id %>" class="navedenie">
                  <img width="50%" src="<%= cm.photo %>"><br>
                  <%= cm.name %>
                  <span class="speccol"><%= IndexController.new.findCarModelCount(cm.id) %></span>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rect10">
        <div class="flex">
          <div id="hidden2" class="hidden2">
            <br>
            <div class="inblock">
              <span>Поколение</span>
              <br>
              <select class="js-example-placeholder-multiple js-states form-control" multiple="multiple" style="width: 100%;">
                <%= @Generation.each do |g| %>
                  <option value="id_<%= g.id %> "><%= g.generation %></option>
                <% end %>
              </select>
            </div>
            <div class="inblock em">
              <span>Кузов</span>
              <br>
              <select class="js-example-placeholder-multiple js-states form-control" multiple="multiple" style="width: 100%;">
                <%= @CarBody.each do |cb| %>
                  <option value="id_cb<%= cb.id %> "><%= cb.body %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="hider2 block2" id="rotate2" style="width: 100%; display: none;">Поколение & Кузов</div>
          <div class="hider2" id="rotate2"><i id="icon2" class="fas fa-angle-up"></i></div>
        </div>
      </div>
      <div class="rect11">
        <div class="hider3" id="rotate3">
            Специальный / ограниченный выпуск 
            <i id="icon3" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden3">
          <br>
          <div class="vivod">
            <% @AutoSerium.each do |as|%>
              <input type="checkbox" id="id_seria_<%=as.id%>" />
              <label for="id_seria_<%=as.id%>" class="navedenie em"> <%= as.seria%> <span class="speccol"><%= IndexController.new.findCarSeriaCount(as.id) %></span></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="priceandstate" class="fix priceandstate">
      <div class="rect10">
        <div class="hider1" id="rotate4">
            Тип автомобиля 
            <i id="icon4" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden4" style="display: block;">
          <br>
          <div class="vivod">
            <% @Type.each do |t| %>
              <input type="checkbox" id="id_t_<%= t.id %>" />
              <label for="id_t_<%= t.id %>" class="navedenie" style="padding-right: 10%;" ><%= t.auto_type %> <span class="speccol"><%= IndexController.new.findCarTypeCount(t.id) %> </label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rect10">
        <div class="flex">
          <div id="hidden5" class="hidden2">
            <br>
            sdfghjkl
          </div>
          <div class="hider5 block5" id="rotate5" style="width: 100%; display: none;">Пробег, Цена, Дата первой постановки на учет & Модельный год</div>
          <div class="hider5" id="rotate5"><i id="icon5" class="fas fa-angle-up"></i></div>
        </div>
      </div>
      <div class="rect11">
        <div class="flex">
          <div id="hidden6" class="hidden2">
            <br>
            <div class="vivod">
              <div class="inblock" style="width: 75%;">
                <span>Максимальное количество предыдущих владельцев</span>
                <br>
                <br>
                <select class="js-example-basic-single" style="width: 100%;">
                  <option value="first">1</option>
                  <option value="second">2</option>
                  <option value="third">3</option>
                  <option value="fourth">4</option>
                  <option value="fiveth">5</option>
                  <option value="sixeth">6</option>
                </select>
              </div>
              <div class="inblock em" style="width: 55%;">
                <span>История и состояние автомобиля</span>
                <br>
                <br>
                <input type="checkbox" id="crash_id" />
                <label for="crash_id" class="navedenie">Без аварий <span class="speccol"><%= IndexController.new.findCarHistoryCount %></span></label>
              </div>
            </div>
          </div>
          <div class="hider6 block6" id="rotate6" style="width: 100%; display: none;">Максимальное количество предыдущих владельцев & История автомобиля</div>
          <div class="hider6" id="rotate6"><i id="icon6" class="fas fa-angle-up"></i></div>
        </div>
      </div>
    </div>
    <div id="engine" class="fix engine">
      <div class="rect10">
        <div class="hider1" id="rotate7">
            Привод
            <i id="icon7" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden7" style="display: block;">
          <br>
          <% @Drive.each do |d| %>
              <input type="checkbox" id="id_d_<%= d.id %>" />
              <label for="id_d_<%= d.id %>" class="navedenie" style="padding-right: 15%;" ><%= d.drive_type %> <span class="speccol"><%= IndexController.new.findCarDriveCount(d.id) %></span></label>
            <% end %>
        </div>
      </div>
      <div class="rect10">
        <div class="hider2" id="rotate8">
            Коробка передач 
            <i id="icon8" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden8" style="display: block;">
          <br>
          <% @GearBox.each do |gb| %>
              <input type="checkbox" id="id_gb_<%= gb.id %>" />
              <label for="id_gb_<%= gb.id %>" class="navedenie" style="padding-right: 15%;" ><%= gb.gearbox_type %> <span class="speccol"><%= IndexController.new.findCarGearBoxCount(gb.id) %></span></label>
            <% end %>
        </div>
      </div>
      <div class="rect10">
        <div class="hider3" id="rotate9">
            Топливо 
            <i id="icon9" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden9" style="display: block;">
          <br>
          <% @Fuel.each do |f| %>
              <input type="checkbox" id="id_f_<%= f.id %>" />
              <label for="id_f_<%= f.id %>" class="navedenie" style="padding-right: 15%;" ><%= f.fuel_type %> <span class="speccol"><%= IndexController.new.findCarFuelCount(f.id) %></span></label>
            <% end %>
        </div>
      </div>
      <div class="rect11">
        <div class="flex">
          <div id="hidden10" class="hidden2">
            <br>
            asdfghjkl
          </div>
          <div class="hider10 block10" id="rotate10" style="width: 100%; display: none;">Мощность & Рабочий объем двигателя</div>
          <div class="hider10" id="rotate10"><i id="icon10" class="fas fa-angle-up"></i></div>
        </div>
      </div>
    </div>
    <div id="color" class="fix color">
      <div class="rect10">
        <div class="hider1" id="rotate11">
            Цвет кузова
            <i id="icon11" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden11" style="display: block;">
          <br>
          <div>
            <% @ColorCarBody.each_slice(4) do |ccb_batch| %>
              
              <div class="colors">
                <% ccb_batch.each do |ccb|%>
                  <style type="text/css">
                  #id_ccb_<%= ccb.id %>:before {
                    background: <%= ccb.code %>;
                    color: #fff;
                    }
                  </style>
                  <input type="checkbox" id="id_ccb_<%= ccb.id %>" />
                  <label for="id_ccb_<%= ccb.id %>" class="navedenie em" id = "id_ccb_<%= ccb.id %>"><%= ccb.color %><span class="speccol"><%= IndexController.new.findCarCCBCount(ccb.id) %></span></label>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rect10">
        <div class="hider1" id="rotate12">
            Цвет салона
            <i id="icon12" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden12" style="display: block;">
          <br>
          <div>
            <% @ColorCarInterior.each_slice(4) do |cci_batch| %>
             <div class="colors">
              <% cci_batch.each do |cci|%>
                <style type="text/css">
                  #id_cci_<%= cci.id %>:before {
                    background: <%= cci.code %>;
                    color: #fff;
                    } 
                </style>
                <input type="checkbox" id="id_cci_<%= cci.id %>" />
                <label for="id_cci_<%= cci.id %>" class="navedenie em" id = "id_cci_<%= cci.id %>"><%= cci.color %><span class="speccol"><%= IndexController.new.findCarCCICount(cci.id) %></span></label>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rect11">
        <div class="hider1" id="rotate13">
            Цвет складного верха
            <i id="icon13" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden13" style="display: block;">
          <br>
          <div>
            <% @ColorCarRoof.each_slice(4) do |ccr_batch| %>
              <div class="colors">
                <% ccr_batch.each do |ccr|%>
                  <style type="text/css">
                    #id_ccr_<%= ccr.id %>:before {
                      background: <%= ccr.code %>; 
                      color: #fff;
                    }
                  </style>
                  <input type="checkbox" id="id_ccr_<%= ccr.id %>" />
                  <label for="id_ccr_<%= ccr.id %>" class="navedenie" style="margin-right: 10%;" id = "id_ccr_<%= ccr.id %>"><%= ccr.color %><span class="speccol"><%= IndexController.new.findCarCCRCount(ccr.id) %></span></label>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="complect" class="fix complect">
      <div class="rect10">
        <div class="hider1" id="rotate14">
            Ходовые качества
            <i id="icon14" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden14" style="display: block;">
          <br>
        </div>
      </div>
      <div class="rect10">
        <div class="flex">
          <div id="hidden15" class="hidden2">
            <br>
            <div>Экстерьер</div>
            <div class="radius" style="width: 100%;">
              <p>Размер колеса</p>
              <div class="vivod">
                <% @WheelRadiu.each do |wr| %>
                  <input type="checkbox" id="id_wr_<%= wr.id %>" />
                  <label for="id_wr_<%= wr.id %>" class="navedenie" id = "id_wr_<%= wr.id %>" style="padding-right: 15%;"><%= wr.radius %></label>
                <% end %>
              </div>
            </div>

          </div>
          <div class="hider15 block15" id="rotate15" style="width: 100%; display: none;">Размер колеса & Экстерьер</div>
          <div class="hider15" id="rotate15"><i id="icon15" class="fas fa-angle-up"></i></div>
        </div>
      </div>
      <div class="rect10">
        <div class="hider3" id="rotate16">
            Аудио- и коммуникационная система
            <i id="icon16" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden16" style="display: block;">
          <br>
        </div>
      </div>
      <div class="rect10">
        <div class="hider3" id="rotate17">
            Интерьер
            <i id="icon17" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden17" style="display: block;">
          <br>
        </div>
      </div>
      <div class="rect11">
        <div class="hider3" id="rotate18">
            Материалы интерьера
            <i id="icon18" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden18" style="display: block;">
          <br>
        </div>
      </div>
    </div>
    <div id="loc" class="fix loc">
      <div class="rect11">
        <div class="hider1" id="rotate19">
            Место расположения 
            <i id="icon19" class="fas fa-angle-up"></i>
        </div>
        <div id="hidden19" style="display: block;">
          <br>
          <div class="flex">
            <select class="js-example-basic-single city" style="width: 35%;">
              <% @CityAndCenter.each do |cac| %>
                <option value="id_cac_city_<%= cac.id %>"><%= cac.city %></option>
              <% end %>
            </select>
            <select class="js-example-basic-single distance" style="width: 20%;">
              <option value="10">10 km</option>
              <option value="20">20 km</option>
              <option value="50">50 km</option>
              <option value="100">100 km</option>
              <option value="200">200 km</option>
              <option value="500">500 km</option>
            </select>
            <select class="js-example-basic-single center" style="width: 35%;">
              <% @CityAndCenter.each do |cac| %>
                <option value="id_cac_center_<%= cac.id %>"><%= cac.center %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button class="fixedbut" id="flexbut"><i class="fas fa-angle-right"></i> <%= @Car.count %> Borsche в наличии</button>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
      //Смена блоков информации
      var a = document.getElementsByClassName("fix");
      function smena(id) {
        for (var i = 0; i < a.length; i++) {
          if (i == id) {
            if (a[i].style.display=="block") {
              a[i].style.display="none";
              a[0].style.display="block";
            } else {
              a[i].style.display="block";
            }
          } else {
            a[i].style.display="none";
          }
        }
      }

      //Активность кнопок

      $('.btn').on('click', function(){
        $('.btn').removeClass('btn_selected');
        if ($("#osn").is(':visible')) {
          $(this).removeClass('btn_selected');
          $("#flexbut").css("display", "none");
        } else {
          $(this).addClass('btn_selected');
          $("#flexbut").css("display", "block");
        }
      });

      //Активность кнопок
      
      //Выпад блоков
      $(document).ready(function(){
        $("#rotate1").click(function(){
          $("#hidden1").slideToggle("slow");
          return false;
        });
        $(".hider2").click(function(){
          if ($("#hidden2").is(':visible')) {
            $("#hidden2").css("display", "none");
            $(".block2").css("display", "block");
          } else {
            $(".block2").css("display", "none");
            $("#hidden2").css("display", "block");
          }
          return false;
        });
        $("#rotate3").click(function(){
          $("#hidden3").slideToggle("slow");
          return false;
        });
        $("#rotate4").click(function(){
          $("#hidden4").slideToggle("slow");
          return false;
        });
        $(".hider5").click(function(){
          if ($("#hidden5").is(':visible')) {
            $("#hidden5").css("display", "none");
            $(".block5").css("display", "block");
          } else {
            $(".block5").css("display", "none");
            $("#hidden5").css("display", "block");
          }
          return false;
        });
        $(".hider6").click(function(){
          if ($("#hidden6").is(':visible')) {
            $("#hidden6").css("display", "none");
            $(".block6").css("display", "block");
          } else {
            $(".block6").css("display", "none");
            $("#hidden6").css("display", "block");
          }
          return false;
        });
        $("#rotate7").click(function(){
          $("#hidden7").slideToggle("slow");
          return false;
        });
        $("#rotate8").click(function(){
          $("#hidden8").slideToggle("slow");
          return false;
        });
        $("#rotate9").click(function(){
          $("#hidden9").slideToggle("slow");
          return false;
        });
        $(".hider10").click(function(){
          if ($("#hidden10").is(':visible')) {
            $("#hidden10").css("display", "none");
            $(".block10").css("display", "block");
          } else {
            $(".block10").css("display", "none");
            $("#hidden10").css("display", "block");
          }
          return false;
        });
        $("#rotate11").click(function(){
          $("#hidden11").slideToggle("slow");
          return false;
        });
        $("#rotate12").click(function(){
          $("#hidden12").slideToggle("slow");
          return false;
        });
        $("#rotate13").click(function(){
          $("#hidden13").slideToggle("slow");
          return false;
        });
        $("#rotate14").click(function(){
          $("#hidden14").slideToggle("slow");
          return false;
        });
        $(".hider15").click(function(){
          if ($("#hidden15").is(':visible')) {
            $("#hidden15").css("display", "none");
            $(".block15").css("display", "block");
          } else {
            $(".block15").css("display", "none");
            $("#hidden15").css("display", "block");
          }
          return false;
        });
        $("#rotate16").click(function(){
          $("#hidden16").slideToggle("slow");
          return false;
        });
        $("#rotate17").click(function(){
          $("#hidden17").slideToggle("slow");
          return false;
        });
        $("#rotate18").click(function(){
          $("#hidden18").slideToggle("slow");
          return false;
        });
        $("#rotate19").click(function(){
          $("#hidden19").slideToggle("slow");
          return false;
        });
      });

      //Поворот стрелочек
      $(document).ready(function(){
        i1 = 1
        i2 = 1
        i3 = 1
        i4 = 1
        i5 = 1
        i6 = 1
        i7 = 1
        i8 = 1
        i9 = 1
        i10 = 1
        i11 = 1
        i12 = 1
        i13 = 1
        i14 = 1
        i15 = 1
        i16 = 1
        i17 = 1
        i18 = 1
        i19 = 1
        $('#rotate1').click(function(){
          $('#icon1').css("-webkit-transform","rotate("+i1*180+"deg)");
          i1++;
        });
        $('#rotate2').add("#icon2").click(function(){
          $('#icon2').css("-webkit-transform","rotate("+i2*180+"deg)");
          i2++;
        });
        $('#rotate3').click(function(){
          $('#icon3').css("-webkit-transform","rotate("+i3*180+"deg)");
          i3++;
        });
        $('#rotate4').click(function(){
          $('#icon4').css("-webkit-transform","rotate("+i4*180+"deg)");
          i4++;
        });
        $('#rotate5').add("#icon5").click(function(){
          $('#icon5').css("-webkit-transform","rotate("+i5*180+"deg)");
          i5++;
        });
        $('#rotate6').add("#icon6").click(function(){
          $('#icon6').css("-webkit-transform","rotate("+i6*180+"deg)");
          i6++;
        });
        $('#rotate7').click(function(){
          $('#icon7').css("-webkit-transform","rotate("+i7*180+"deg)");
          i7++;
        });
        $('#rotate8').add("#icon2").click(function(){
          $('#icon8').css("-webkit-transform","rotate("+i8*180+"deg)");
          i8++;
        });
        $('#rotate9').click(function(){
          $('#icon9').css("-webkit-transform","rotate("+i9*180+"deg)");
          i9++;
        });
        $('#rotate10').add("#icon10").click(function(){
          $('#icon10').css("-webkit-transform","rotate("+i10*180+"deg)");
          i10++;
        });
        $('#rotate11').click(function(){
          $('#icon11').css("-webkit-transform","rotate("+i11*180+"deg)");
          i11++;
        });
        $('#rotate12').click(function(){
          $('#icon12').css("-webkit-transform","rotate("+i12*180+"deg)");
          i12++;
        });
        $('#rotate13').click(function(){
          $('#icon13').css("-webkit-transform","rotate("+i13*180+"deg)");
          i13++;
        });
        $('#rotate14').click(function(){
          $('#icon14').css("-webkit-transform","rotate("+i14*180+"deg)");
          i14++;
        });
        $('#rotate15').add("#icon15").click(function(){
          $('#icon15').css("-webkit-transform","rotate("+i15*180+"deg)");
          i15++;
        });
        $('#rotate16').click(function(){
          $('#icon16').css("-webkit-transform","rotate("+i16*180+"deg)");
          i16++;
        });
        $('#rotate17').click(function(){
          $('#icon17').css("-webkit-transform","rotate("+i17*180+"deg)");
          i17++;
        });
        $('#rotate18').click(function(){
          $('#icon18').css("-webkit-transform","rotate("+i18*180+"deg)");
          i18++;
        });
        $('#rotate19').click(function(){
          $('#icon19').css("-webkit-transform","rotate("+i19*180+"deg)");
          i19++;
        });
      });
      //Поворот стрелочек

      //Выпад блоков

      //select2
      $("select").select2({
        placeholder: "Пожалуйста, выберите",
      });
      $(".js-example-basic-single").select2({
        placeholder: "Пожалуйста, выберите",
        allowClear: true
      });
      $(".city").select2({
        placeholder: "Город",
        allowClear: true
      });
      $(".distance").select2({
        placeholder: "Дистанция",
        allowClear: true
      });
      $(".center").select2({
        placeholder: "Borsche center",
        allowClear: true
      });
    </script>
  </body>
</html>