/* rect2 */
.rect2{
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
  
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  
  border-bottom: 2px solid #EFF0F1;
  
  margin-left: 5%;
  margin-right: 5%;
  
  background: #FFFFFF;
}

/* btn1, btn2 */
.btnFind{
  position: static;
  width: auto;
  height: 60px;
  border: none;

  font-size: auto;

  color: #000000;
  background: #FFFFFF;
}

.btnFind:hover{
  color: red;
}

/* rect1 */
.rect1{
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
  
  border-bottom: 2px solid #EFF0F1;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 3vw;
  text-align: center;
  
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-around;
  
  margin-left: 5%;
  margin-right: 5%;
  
  background: #FFFFFF;
}

/* rect4 */
.rect4{
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
  
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-between;

  margin-left: 5%;
  margin-right: 5%;
  
  background: #FFFFFF;
}

/* btn3,4,5,6,7,8 */

.btn{
  position: static;
  width: 15%;
  height: 50px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: auto;
  text-align: center;

  color: #000000;
  
  border: none;
  background: #EFF0F1;
}

.btn:hover{
  color: red;
}

.btn_selected{
  background: white;
  border-bottom: 5px solid #d5001c;
}

/* rect5 */
.rect5{
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
  
  border-bottom: 2px solid #EFF0F1; 
  
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
  
  margin-left: 5%;
  margin-right: 5%;

  font-size: auto;

  color: #000000;
  
  background: #FFFFFF;
}

/* rect3 */
.rect3{
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-around;
  
  font-size: 1.5vw;

  background: #FFFFFF;
}

/* rect5 */
/*.rect5{
  position: static;
  width: auto;
  height: auto;
  
  font-size: 20px;

  background: #FFFFFF;
}*/


/* rect8 */
.rect8{
  position: static;
/*   width: 50%; */
  height: auto;
  display: inline-block;
  float: left;

  background: #FFFFFF;
}

/* rect9 */
.rect9{
  position: static;
  width: 50%;
  height: auto;
  display: inline-block;
  float: right;

  background: #FFFFFF;
}

/* Дальше идут стили для вывода машин */

/* rect6 */
.rect6{
  position: static;
  overflow: hidden;
  width: auto;
  height: auto;
  
  padding-top: 5%;
/*   margin-top: 5%; */
  
  border-bottom: 2px solid #EFF0F1;
  
  margin-left: 5%;
  margin-right: 5%;
  
  background: #FFFFFF;
}

.auto{
  width: 50%;
  display: inline-block;
  float: left;
/*   border-bottom: 2px solid black/*#EFF0F1; */
}

.info{
  width: 50%;
  display: inline-block;
  float: right;
/*   border-bottom: 2px solid black/*#EFF0F1; */
}

/* Блок "Новый автомобиль" */
.newauto{
  border: 2px solid black;
  width: 20%;
  height: 40px;
  
  margin-left: 5%;
  
  display: inline-block;
  float: left;
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.autoname{
  width: auto;
  height: auto;
  font-size: 40px;
  display: inline-block;
  float: left;;
}

.place{
  margin-top: 10%;
  font-size: 20px;
  color: #959899;
}

.power{
  display: inline-block;
  margin-top: 5%;
  
  padding-right: 20px;
  border-right: 2px solid #9ea1a2;
  font-size: 20px;
}

.date{
  padding-left: 20px;
  display: inline-block;
  font-size: 20px;
}

.gearbox{
  margin-top: 1%;
  font-size: 20px;
  color: #959899;
}

.cost{
  margin-top: 5%;
  font-size: 20px;
}

.who{
  margin-top: 1%;
  font-size: 20px;
  color: #959899;
}

.more{
  height: 100px;
  width: 150px;
  border: none;
  background-color: #313639;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: inline-block;
  float: right;
}

.more:hover{
  background-color: red;
}

/* Здесь стили для вывода машин заканчиваются */

/*Стили появляющихся блоков*/

.model{
display: none;
}   
.rect10{
  position: static;
  width: 90%;
  height: auto;
  
  border-bottom: 2px solid #EFF0F1; 
  
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  
  font-size: 1vw;

  color: #000000;
  
  background: #FFFFFF;
}
.flex{
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-between;
}
.rect11{
  position: static;
  width: 90%;
  height: auto; 
  
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  
  font-size: 1vw;

  color: #000000;
  
  background: #FFFFFF;
}
.hider1, .hider2, .hider3, .hider5, .hider6, .hider10, .hider15{
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: space-between;
}
.hidden1, .hidden2, .hidden3{
  display: block;
}
.hidden3, .hidden2{
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
}
.hidden2{
  width: 100%;
}
.vivod{
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
}
.colors{
  display: -webkit-flex; 
  -webkit-justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
}
.inblock{
  display: inline-block;
  width: 30%;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #FFFFFF;
     color: red; 
}
.em{
  margin-left: 3%;
}

/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}
 
/* стили для метки */
.navedenie {
  background: #FFFFFF;
  cursor: default;
  font-size: 0.8vw;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
.navedenie:hover{
  color: red;
} 
/* формируем внешний вид чекбокса в псевдоэлементе before */
.navedenie:before {
  content: " ";
  display: inline-block;
  font: 20px/30px FontAwesome;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}
input:checked + .navedenie:before {
  content: "\2714";
}
input:disabled + .navedenie:before {
  color: #000;
}
.speccol{
  font-size: 0.8vw;
  color: #959899; 
}

.priceandstate{
display: none;
}

.engine{
display: none;
}

.color{
display: none;
}

.complect{
display: none;
}

.loc{
 display: none; 
  
}

/*Стили появляющихся блоков*/

/*Плавающая кнопка*/
.fixedbut{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  border: none;
  background-color: rgb(213, 0, 28);
  background-bottom-left-radius: 0px;
  background-bottom-right-radius: 0px;
  background-bottom-style: solid;
  color: #fff;
  text-decoration: none;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
}
.fixedbut:hover{
  background: #960014;
}
/*Плавающая кнопка*/
